body {
	/*WIDTH: 1440, Height: 828*/
	background: #AEDDCD;
	padding: 0;
	margin: 0;
}

#treeCanvas {
	position: absolute;
	/*background: red;*/
	/*top: 83px;*/	/*10%*/
	width: 83.33%; /*33%*/
	height: 71,4%;	/*50%%*/
	/*left: 500px;*/
	z-index: -2;
	right: 0;
}

#branchDiv {
/*	display: none; */
	
}

#leavesCanvas {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
